.heading{
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    font-size: 25px;
}

.heading_div{
    float: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2{
    border-radius: 10px;
    font-size: 20px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    background-color: grey;
    color: white;
    line-height: 3;
    text-align: center;
    width: 100%;
    bottom: 0;
}

canvas{
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
    border-radius: 20px;
    border: 5px solid white;
}